.item_logo {
  height: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.temps {
	text-align: center;
}

.low_temp {
	color:grey;
}

.day_of_week {
	text-align: center;
	color: grey;
}

.selected {
	border: 1px grey solid;
}